<div class="row" id="landing-page">
  <div class="col-lg-4 offset-lg-4 hidden-md hidden-xs hidden-sm">
    <div class="row">
      <div class="offset-3">
        <h5>Pandemic: The Game</h5>
      </div>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ante accumsan, venenatis massa non, pharetra neque.
      Donec sed justo bibendum ante finibus mollis et nec turpis. Morbi sodales imperdiet magna vel convallis. Ut viverra
      dui ut purus convallis porta. Ut dolor magna, iaculis quis dictum eu, facilisis id orci. Duis eu tempus purus. Integer
      aliquet, leo ullamcorper feugiat blandit, mauris quam porta erat, vitae laoreet eros dolor at lectus. Donec vulputate
      massa vitae sollicitudin mollis. Ut in magna ac nulla aliquam pulvinar nec et magna. Pellentesque eget felis velit.
      Aliquam iaculis sollicitudin eros, non pretium odio lacinia a. Proin bibendum aliquet convallis. Duis eu massa eget
      urna ullamcorper fringilla. Nunc molestie bibendum ullamcorper. Donec sed ante sit amet quam venenatis pretium. Aenean
      mollis nunc a vehicula dignissim. Nunc scelerisque, sapien vel fringilla euismod, tellus tellus posuere diam, eu euismod
      risus sapien in urna. Maecenas ornare accumsan convallis. Donec tincidunt, tortor quis imperdiet cursus, turpis enim
      vestibulum magna, condimentum placerat turpis diam interdum velit. Aliquam rutrum quam ac turpis gravida rhoncus. Nulla
      venenatis molestie ligula. Pellentesque suscipit, dolor eu placerat laoreet, justo sapien feugiat nulla, eu eleifend
      est metus ac mi. Maecenas scelerisque lobortis quam et aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit. Aenean quis pretium tellus, in lobortis justo. Nunc varius, nibh at mollis sagittis, urna velit tincidunt tellus,
      vitae ultrices leo nisi at ex. Sed vitae felis in turpis commodo auctor. Praesent ut velit in nulla malesuada fermentum.
      Morbi ullamcorper leo sed pretium aliquet. Pellentesque aliquet vel eros vitae pulvinar. Nulla ultrices mauris in pretium
      fermentum. Cras eu sollicitudin ex. Fusce ac libero sit amet risus suscipit interdum ut suscipit sapien.
    </p>
  </div>
</div>