<div class="row" id="landing-page">
  <div class="col-lg-4 offset-lg-4 hidden-md hidden-xs hidden-sm">
    <div class="row">
      <div class="offset-3">
        <h5>Pandemic: The Game</h5>
      </div>
    </div>
     <form class="form-group">
      <div class="row">
        <input type="text" class="form-control" placeholder="Full Name">
      </div>
      <div class="row">
        <input type="text" class="form-control" placeholder="Email Address">
      </div>
      <div class="row">
        <button type="submit" class="btn btn-positive btn-block">Register</button>
      </div>
    </form>
  </div>
</div>

